<tr>
  <td><%= composition.content %></td>
  <td><%= link_to 'Show', composition %></td>
  <td><%= link_to 'Edit', edit_composition_path(composition) %></td>
  <td><%= link_to 'Destroy', composition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
